<div class="alert alert-info">
<span class="badge badge-inverse">Group: <%= name %></span>
<span class="badge badge-success">Normal: <%= info.success_count %></span>
<span class="badge badge-important">Fail: <%= info.error_count %></span>
<div>
<%
    var nodes = info.nodes;
    for (var nidx in nodes) {
        var node = nodes[nidx];
        if (node.status == "ok") {
%>
<span class="label label-success"><%= node.name %></span>
<% } else { %>
<span class="label label-important"><%= node.name %></span>
<% } %>
<% } %>
</div>
</div>
